.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: 100px 20px 100px 20px;
  max-width: 1280px;
  
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1,
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2,
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3,
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4,
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5,
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  line-height: 1.375em;
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  margin: 0.1em 0;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1 {
  font-size: 4.5em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2 {
  font-size: 3.825em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3 {
  font-size: 3.15em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
  font-size: 2.7em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5 {
  font-size: 2.25em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  font-size: 1.8em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper p {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 1em 0;
  font-size: 1.5em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons {
  margin-top: 3em;
  padding-bottom: 0.2em;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons .so-widget-sow-button {
  display: inline-block;
  margin: 0 6px;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-hero-default-f2af90f77ef5 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}